In [18]:
from selenium import webdriver
from selenium.webdriver.edge.service import Service
from selenium.webdriver.edge.options import Options
from selenium.webdriver.common.by import By
import time
import random
import pandas as pd
import numpy as np
from selenium.common.exceptions import NoSuchElementException, ElementClickInterceptedException
import unicodedata

In [19]:
driver = webdriver.Edge()
driver.get("https://bonbanh.com/ha-noi/oto-so-tu-dong-tu-nam-2014-cu-da-qua-su-dung")

In [20]:
car_links = []
cities = []

while True:
    time.sleep(3)
    car_items = driver.find_elements(By.CSS_SELECTOR, "li.car-item a")
    city_items = driver.find_elements(By.CSS_SELECTOR, "li.car-item div.cb4 b")

    for item, city in zip(car_items, city_items):
        href = item.get_attribute("href")
        city_name = city.text if city else None
        if href:
            car_links.append(href)
            cities.append(city_name)

    try:
        next_button = driver.find_element(By.XPATH, '//span[@class="bbl" and contains(text(), ">")]')
        next_button.click()
    except NoSuchElementException:
        print("No more pages.")
        break
    
driver.quit()

df = pd.DataFrame({'Link': car_links, 'City': cities})
print(df)

No more pages.
                                                   Link    City
0     https://bonbanh.com/xe-toyota-fortuner-2.4l-4x...  Hà Nội
1     https://bonbanh.com/xe-mercedes_benz-maybach-s...  Hà Nội
2     https://bonbanh.com/xe-landrover-range_rover-a...  Hà Nội
3     https://bonbanh.com/xe-peugeot-3008-al-2022-59...  Hà Nội
4     https://bonbanh.com/xe-mazda-cx5-premium-2.0-a...  Hà Nội
...                                                 ...     ...
5455  https://bonbanh.com/xe-honda-city-1.5top-2018-...  Hà Nội
5456  https://bonbanh.com/xe-mitsubishi-xpander-prem...  Hà Nội
5457  https://bonbanh.com/xe-toyota-fortuner-2.4l-4x...  Hà Nội
5458  https://bonbanh.com/xe-bmw-3_series-320i-sport...  Hà Nội
5459  https://bonbanh.com/xe-ford-ranger-xls-2.2l-4x...  Hà Nội

[5460 rows x 2 columns]

In [21]:
def remove_diacritics(text):
    return ''.join(
        c for c in unicodedata.normalize('NFD', text)
        if unicodedata.category(c) != 'Mn'
    )

df['City'] = df['City'].apply(remove_diacritics)
df.head()

                                                Link    City
0  https://bonbanh.com/xe-toyota-fortuner-2.4l-4x...  Ha Noi
1  https://bonbanh.com/xe-mercedes_benz-maybach-s...  Ha Noi
2  https://bonbanh.com/xe-landrover-range_rover-a...  Ha Noi
3  https://bonbanh.com/xe-peugeot-3008-al-2022-59...  Ha Noi
4  https://bonbanh.com/xe-mazda-cx5-premium-2.0-a...  Ha Noi

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5460 entries, 0 to 5459
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Link    5460 non-null   object
 1   City    5460 non-null   object
dtypes: object(2)
memory usage: 85.4+ KB

In [23]:
df.to_csv('bonbanh_used_cars_links2.csv')